@model Radar.Web.Models.ViewModels.ProfileViewModel

<link rel="stylesheet" href="~/css/profile.css" />

<div class="row">
    <div class="col-sm-4 p-3">
        <section class="profile d-flex flex-column flex-nowrap align-items-center mb-4">
            <div class="profile-picture mb-2"></div>
            <h3 class="profile-username">@@@Model.Pessoa.Nome</h3>
            <i class="profile-settings fa-solid fa-gear fa-2x"></i>
        </section>
        <section class="description d-sm-flex flex-sm-column flex-sm-nowrap align-items-sm-center mb-sm-4">
            <h2 class="mb-sm-4 mb-2">Descrição</h2>
            <p class="text-sm-center">
                @Model.Pessoa.Descricao
            </p>
        </section>
    </div>
    <div class="col-sm-8 p-3">
        <section class="posts">
            <h2 class="mb-sm-4 mb-2">Posts</h2>
            <ul>
                @foreach(Post post in Model.Posts)
                {
                    <li>
                        @await Html.PartialAsync("~/Views/Shared/_Post.cshtml", post)
                    </li>               
                }
            </ul>
        </section>
    </div>
</div>