@model LocalReadDto?

<link rel="stylesheet" href="~/css/locais.css" />

<div class="content">
    <section class="search">
        <input class="buscar" placeholder="Buscar" type="text" />
        <button class="btn-buscar" title="Buscar"><i class="fa-solid fa-magnifying-glass"></i> </button>
    </section>
    @if(Model != null)
    {
        <section class="place d-flex flex-sm-row flex-column align-items-sm-start align-items-center">
            <div class="place-logo me-sm-3">
                <div class="place-picture"></div>
                @if (Model.Verificado == "Verificado")
                {
                    @Html.Raw("<i class=\"place-certificate fa-solid fa-circle-check fa-2x\"></i>")
                    ;
                }
            </div>
            <div class="place-details">
                <h3 class="place-name">@Model.Nome</h3>
                <article class="place-address">
                    <h5>Endereço</h5>
                    <p>@Model.Endereco</p>
                </article>
                <article class="place-description">
                    <h5>Descrição</h5>
                    <p>@Model.Descricao</p>
                </article>
            </div>
        </section>
    }
</div>
