@model SignIn
@{
    Layout = null;
}

<!DOCTYPE html >
<html lang="pt-br">
    <head>
        <title> RADAR - Login </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width , initial-scale=1.0" />
        <link rel="stylesheet" href="~/css/login.css" />
    </head>
    <body>
    <div class="page">
        <form asp-controller="Login" asp-action="SignIn" method="POST" class="formLogin">
            <h1>Login</h1>
            <p>Digite os seus dados de acesso no campo abaixo.</p>
            <div class="input-group">
                <label for="Login">Login</label>
                <input asp-for="Login" placeholder="Digite seu login" autofocus="true" />
                <span asp-validation-for="Login"></span>
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input asp-for="Senha" placeholder="Digite sua senha" />
                <span asp-validation-for="Senha"></span>
            </div>
            <div class="input-group">
                <input type="submit" value="Acessar" class="btn" />
                <a href="/Cadastro/Index">Criar conta</a>
            </div>
            @Html.ValidationMessage("Error")
        </form>
    </div>
</body>
</html>
