@model HomeViewModel

<link rel="stylesheet" href="~/css/home.css" />

@await Html.PartialAsync("~/Views/Home/PublishPopup.cshtml", Model)

<div class="content">
    <section class="publish">
        <form asp-controller="Home" asp-action="Publish" class="status">
            <div class="d-flex">
                <textarea id="post-content" rows="2" maxlength="255" wrap="hard" type="text" class="post-input" placeholder="O que você está pensando?"></textarea>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#review-modal">
                    Postar
                </button>
            </div>
        </form>
    </section>
    <section class="posts">
        <h2 class="mb-sm-4 mb-2">Posts</h2>
        <ul>
            @foreach (PostReadDto post in Model.Posts!)
            {
                <li>
                    @await Html.PartialAsync("~/Views/Shared/_Post.cshtml", post)
                </li>
            }
        </ul>
    </section>
</div>

<script src="~/js/home.js"></script>