@model HomeViewModel

<link rel="stylesheet" href="~/css/home.css" />

<div class="content">
    <section class="publish">
        <form asp-controller="Home" asp-action="Publish" class="status">
            <select asp-for="LocalId" asp-items="Model.Locais" class="form-select" data-live-search="true"></select>
            <div class="d-flex">
                <textarea asp-for="Conteudo" rows="2" maxlength="255" wrap="hard" type="text" class="post-input" placeholder="O que você está pensando?"></textarea>
                <span asp-validation-for="Conteudo"></span>
                <input type="submit" value="Publicar" class="btn" />
                @Html.HiddenFor(model => model.Avaliacao)
            </div>
        </form>
    </section>
    <section class="posts">
        <h2 class="mb-sm-4 mb-2">Posts</h2>
        <ul>
            @foreach (PostReadDto post in Model.Posts!)
            {
                <li>
                    @await Html.PartialAsync("~/Views/Shared/_Post.cshtml", post)
                </li>
            }
        </ul>
    </section>
</div>
