@model List<Post>



<link rel="stylesheet" href="~/css/home.css" />

<div class="text-center">
    <section class="posts">
        <div class="selecao-local">
            <select class="selectpicker" data-live-search="true">
              <option data-tokens="haburgueria">Xapero</option>
              <option data-tokens="churrasco">Espeto conquista</option>
              <option data-tokens="açai">Açai Formosa</option>
            </select>

        </div>
        <div class="status">
            <textarea rows="3" maxlength="255" wrap="hard" type="text" class="post-input" placeholder="O que você está pensando?"></textarea>
            <button class="btn">Publicar</button>
        </div>
        <h2 class="mb-sm-4 mb-2">Posts</h2>
        <ul>
            @foreach (Post post in Model)
            {
                <li class="post">
                    <article>
                        <div class="post-header">
                            <div class="post-picture"></div>
                            <h4 class="post-username">@@@post.Pessoa.Nome</h4>
                        </div>
                        <p>
                            @post.Conteudo
                        </p>
                        <p class="datetime">@post.DataPostagem.ToString("f")</p>
                    </article>
                </li>
            }
        </ul>
    </section>
</div>
