@model Radar.Web.Models.ViewModels.ProfileViewModel

<link rel="stylesheet" href="~/css/profile.css" />

<div class="row">
    <div class="col-sm-4 p-3">
        <section class="profile d-flex flex-column flex-nowrap align-items-center mb-4">
            <div class="profile-picture mb-2"></div>
            <h3 class="profile-username">@@@Model.Pessoa.Nome</h3>
        </section>
        <section class="description d-sm-flex flex-sm-column flex-sm-nowrap align-items-sm-center mb-sm-4">
            <h2 class="mb-sm-4 mb-2">Description</h2>
            <p class="text-sm-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat.
            </p>
        </section>
    </div>
    <div class="col-sm-8 p-3">
        <section class="posts">
            <h2 class="mb-sm-4 mb-2">Posts</h2>
            <ul>
                @foreach(Post post in Model.Posts)
                {
                    <li class="post">
                        <article>
                            <div class="post-header">
                                <div class="post-picture"></div>
                                <div class="post-title">
                                    <a href=""><p class="post-username">@@Pessoa1</p></a>
                                    <p>sobre <a href="">@@Lugar1</a></p>
                                </div>
                                <div class="post-rate">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                            </div>
                            <p>
                                @post.Conteudo
                            </p>
                            <p class="datetime">@post.DataPostagem.ToString("f")</p>
                            <div class="post-reaction">
                                <div class="post-like">
                                    <i class="post-like-icon fa-solid fa-heart fa-lg"></i>
                                    <p class="post-like-counter">@post.Likes</p>
                                </div>
                            </div>
                        </article>                    
                    </li>                    
                }
            </ul>
        </section>
    </div>
</div>