.content {
    padding: 0% 20%;
}

.publish {
    margin-bottom: 20px;
}

.posts ul {
    list-style-type: none;
    padding-inline-start: unset;
}

.status{
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.post-input {
    width: 92%;
    border-left: none;
    border-top: none;
    border-right: none;
    border-color: lightgray;
    outline: 0;
    resize: none ;
    overflow-y: hidden;
    display:inline;
    height: 40px;
}

.btn {
    min-width: 30px;
    height:40px;
    display:inline;
    background-color: #067BC2;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #067BC2;
    color: #fff;
}

.selecao-local{
    margin-top:20px
}