.content {
    padding: 0% 20%;
}

.search {
    margin-bottom: 20px;
}

.place {
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 10px;
    position: static;
    background-color: #F8F8F8;
    gap: 10px;
}

.place-picture {
    background-color: #067BC2;
    height: 125px;
    width: 125px;
    border: 2px solid gray;
    border-radius: 50%;
}

.place-certificate {
    position: relative;
    bottom: 45px;
    left: 90px;
    color: goldenrod;
}

.place-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buscar{
    padding: 3px 7px;
    border-radius: 5px;
    width: calc(100% - 30px);
}

.btn-buscar {
    background-color:#fff;
    width: 10px;
    color: #067BC2;
    font-size: 20px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin-left: 5px;
    box-shadow: none !important;
}