.profile {
    padding: 20px 0px;
}

.profile-picture {
    background-color: #067BC2;
    height: 150px;
    width: 150px;
    border: 2px solid gray;
    border-radius: 50%;
}

.profile-settings {
    position: relative;
    bottom: 75px;
    left: 55px;
}

.posts ul {
    list-style-type: none;
    padding-inline-start: unset;
}

.fa-gear {
    color: rosybrown;
}